.homepage-card-title {
  font-family: Baskerville;
  color: rgb(92, 92, 92);
  text-align: center;
  margin-top: 5%;
}

.homepage-card-group {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%!important;
  height: 300px!important;
  column-gap: 50px!important;
  width: 80%;
}

.view-all-button {
  margin-left: 47%;
  margin-bottom: 5%;
}