.message-list-title {
  padding-top: 5%;
  margin-left: 6.3%;
  font-size: 1.5rem;
  font-family: Lato;
}

.inbox-container {
  margin-left: 18.9%;
  margin-right: 0%;
  width: 22rem;
  height: 49.5rem;
  background-color: white;
}

.inbox-cards {
  width: 21rem;
}