.about-container {
  max-width: 1920px;
  min-width: fit-content;
  min-height: calc(100vh - 145px - 3rem);
  height: fit-content;
  justify-self: center;
  margin-right: auto;
  margin-left: auto;
}

.about-page-jumbotron {
  position: relative;
  background-image: url(/src/assets/AboutpageHeroImage.png);
  background-size: cover;
  height: 550px;
}

.about-title {
  font-family: Baskerville;
  color: rgb(92, 92, 92);
  text-align: center;
  margin-top: 5%;
}

.sheep-image {
  height: 340px;
  width: 340px;
  margin-top: 2%;
  margin-left: 20%;
  margin-bottom: 5%;
}

.sheep-text-container {
  position: relative;
  margin-top: -24%;
  margin-left: 45%;
  width: 700px;
  height: 300px;
  border: none;
  overflow: auto;
}

.sheep-text {
  position: relative;
  font-family: Lato;
  font-size: .9em;
  margin-top: 1%;
  color: rgb(92, 92, 92);
  text-align: left;
  font-size: 14pt;
}

.christmas-image {
  height: 350px;
  width: 350px;
  margin-left: 40%;
  margin-bottom: 5%;
}

.christmas-text-container {
  position: relative;
  width: 700px;
  left: 20%;
}

.christmas-text {
  font-family: Lato;
  font-size: .9em;
  color: rgb(92, 92, 92);
  font-size: 14pt;
}
