/*-- back to top --*/

.btt-arrow:hover {
    opacity: 0.5;
  }
  
  .btt-arrow {
    position: relative;
    margin: auto;
    cursor: pointer;
    opacity: 80%;
  }
  
  .back-to-top-text {
    position: relative;
    letter-spacing: 5px;
    right: 45%;
    font-size: 20pt;
    font-family: Baskerville;
    opacity: 80%;
  }
  