.blog-product-cards {
  width: 70%;
  height: 70%;
  margin-bottom: 5%;
}

.blog-product-cards-container {
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 10%;
}

.blog-product-cards-title {
  font-family: Baskerville;
  color: rgb(92, 92, 92);
  padding-left: 18%;
}