.contact-container {
  max-width: 1920px;
  min-width: fit-content;
  min-height: 150vh;
  height: fit-content;
  justify-self: center;
  margin-right: auto;
  margin-left: auto;
}

.knitting-image {
  margin: auto;
}

.contact-form-container {
  font-family: Baskerville;
  width: 600px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.map-container {
  top: 40%;
}

.map {
  width: 50% !important;

}