.contact-container {
  max-width: 1920px;
  min-width: fit-content;
  margin: auto;
}

.knitting-image {
  position: relative;
  background-image: url(/src/assets/Contact_Hero.jpg);
  background-size: cover;
  height: 350px;
  margin-bottom: 5%;
}

.contact-form-container {
  position: relative;
  font-family: Baskerville;
  width: 300px;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 30%;
  margin-right: 5%;
}

.map {
  position: relative !important;
}
