  
  .edit-blog-container {
    position: absolute;
    margin-left: 22%;
    margin-top: 2%;
  }

  .blog-text-input-window {
    height: 10em;
    width: 30em;
    border: rgb(218, 215, 215) solid 1px;
    border-radius: 2%;
  }

  .blog-input-window {
    width: 20em;
  }
