.yamde-0-3-1 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    
  }
  
  .text-editor {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  }
  
  .edit-blog-container {
    width: 50%;
    margin-right: 30em;
    margin-top: 2em;
  }

  .blog-text-input-window {
    height: 300px;
  }