.admin-dash-title {
  font-family: Baskerville;
  color: rgb(92, 92, 92);
  margin-left: 24%;
  padding-top: 4%;
}

.admin-dash-container {
  padding-top: 2%;
  height: 100vh;
  background-color: rgb(214, 210, 210);
}

.admin-form {
  margin-top: 5%;
  margin-right: 23%;
  display: flex;
  width: auto;
}

.store-title {
  font-family: Baskerville;
  color: rgb(92, 92, 92);
  text-align: center;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.store-card {
 padding-bottom: 10%;
 font-family: Lato;
}

.edit-store-save-btn {
  margin-bottom: 3%;
  height:3em;
  
}

.preview-button {
  margin-top: 5.8%;
}

.hello-text {
  margin-top: 2.9%;
  font-size: 1rem;
}
