.NavBarBottom {
  position: sticky;
  background-color: #ecf7f5 !important;
  height: 11em;
}

.footer-content-container {
  width: 1680px;
  margin-left: auto;
  margin-right: auto;
}

.footer-nav-margin {
  margin-top: 5%;
  margin-bottom: 2%;
}

.footer-nav-text {
  font-size: 16pt;
  color: #707070;
  line-height: 1;
  word-spacing: 2px;
  display: block;
  font-family: Baskerville;
}

.footer-form-label {
  font-size: 16pt;
  color: #707070;
  line-height: 1;
  word-spacing: 3px;
  font-family: Baskerville;
}

.footer-form {
  padding-top: 5%;
  border: 0;
  background-color: #ecf7f5;
  font-family: Lato;
  font-size: 12pt;
  border-bottom: 1px solid#707070;
}

.social-icons-container {
  width: 200px;
  height: 100px;
}

.social-icons {
  width: 50px;
  height: 50px;
  margin-top: 15%;
  padding-right: 10%;
  cursor: pointer;
  opacity: 45%;
  filter: invert(44%) sepia(63%) saturate(1316%) hue-rotate(123deg)
    brightness(99%) contrast(110%);
}

.social-icons:hover {
  opacity: 0.8;
}
