.NavBarBottom {
    position: sticky;
    background-color:#ECF7F5 !important;
  }
  
  .footer-nav-margin {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .footer-nav-text {
    font-size: 20pt;
    line-height: 1;
    word-spacing: 3px;
  }
  
  .footer-content-container {
    width: 1680px;
    margin-left: auto;
    margin-right: auto;
  }