.company-logo-signin-container {
    width: 1829px;
    height: 164px;
}

.logo {
    position: relative;
    width: 164px;
    height: 164px;
    right: 20%;
}

.company-name {
    position: relative;
    font-family: Baskerville;
    font-size: 45px;
    color: #707070;
    bottom: 70%;
    right: 5%;
}

.year-established {
    position: relative;
    font-family: Lato;
    font-size: 20px;
    color: #707070;
    bottom: 75%;
    right: 5%;
}

.top-navbar {
    background-color:#ECF7F5 !important;
}

.nav-links {
    margin-left: 32%;
    font-family: Lato;
    font-size: 20px;
}