.company-logo-signin-container {
  max-width: 1920px;
  min-width: fit-content;
  height: fit-content;
  justify-self: center;
  margin-right: auto;
  margin-left: auto;
}

.logo-col {
    max-width: 10em;
}

.logo {
  position: relative;
  width: 164px;
  height: 164px;
}

.company-name {
  position: relative;
  font-family: Baskerville;
  font-size: 2em;
  color: #707070;
  margin: auto;
  padding-top: 20%;
}

.year-established {
  position: relative;
  font-family: Lato;
  font-size: 20px;
  color: #707070;
}

.top-navbar {
  background-color: #ecf7f5 !important;
}

.nav-links {
  font-family: Lato;
  font-size: 20px;
  margin: auto;
}
