.homepage-card-title {
  font-family: Baskerville;
  color: rgb(92, 92, 92);
  text-align: center;
  margin: auto;
  padding-bottom: 2%;
}

.homepage-card-group {
  margin: auto;
  width: 70%;
}

.view-all-button {
  margin-top: 2%;
  margin-left: 47%;
  margin-bottom: 5%;
}
