.message-container {
    font-family: Lato;
    width: 750px;
    height:800px;
    padding-top: 3%;
  }

  .mailbox-previews {
    padding: none;
    min-width: 200px;
    max-height: 800px;
    overflow: auto;
}

.message-preview-card {
    margin-top: 5%;
}