.vendor-product-cards {
  width: 15rem;
  height: 23rem;
}

.product-cards-container {
  padding-bottom: 10%;
}

.product-cards-title {
  font-family: Baskerville;
  color: rgb(92, 92, 92);
  padding-left: 14%;
} 