/* .blog-cards-title {
  font-family: Baskerville;
  color: rgb(92, 92, 92);
  text-align: center;
  margin-top: 3%;
  padding-bottom: 2%;
}

.blog-cards-footer {
  font-family: Baskerville;
  color: rgb(92, 92, 92);
  text-align: center;
  margin-top: 3%;
  padding-bottom: 2%;
} */

